.login-bg{width: 100%; height: 100%; background: url(../images/login_bg.jpg);}
.login-main{ position: absolute; top:50%; left: 50%; width: 350px; height: auto; margin: -150px 0 0 -175px; background-color: #fff; border-radius: 10px;}
.login-title{ font-size: 18px; padding: 15px 0;}
.login-from{ padding: 0 25px;}
.login-from .ivu-icon{ font-size: 18px;}
.login-from .ivu-input-group-prepend{ width: 40px;}
.code-img{ height: 28px; margin: 0 5px;}
.ivu-input-group-append, .ivu-input-group-prepend{
    border-radius: 0;
}